In [19]:
from pandas_datareader import data, wb
import datetime
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Get Index Data

In [12]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2016,1,1)
FTSE100 = data.DataReader(name='^FTSE', data_source='yahoo', start=start, end=end)
FTSE100.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>253.000000</td>
      <td>253.000000</td>
      <td>253.000000</td>
      <td>253.000000</td>
      <td>2.530000e+02</td>
      <td>253.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>6591.559291</td>
      <td>6633.909888</td>
      <td>6548.136366</td>
      <td>6590.279447</td>
      <td>7.105148e+08</td>
      <td>6590.279447</td>
    </tr>
    <tr>
      <th>std</th>
      <td>329.279545</td>
      <td>318.551447</td>
      <td>335.491273</td>
      <td>330.007361</td>
      <td>2.385190e+08</td>
      <td>330.007361</td>
    </tr>
    <tr>
      <th>min</th>
      <td>5874.100098</td>
      <td>5958.899902</td>
      <td>5768.200195</td>
      <td>5874.100098</td>
      <td>0.000000e+00</td>
      <td>5874.100098</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>6336.399902</td>
      <td>6366.899902</td>
      <td>6279.000000</td>
      <td>6334.600098</td>
      <td>6.150945e+08</td>
      <td>6334.600098</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>6664.500000</td>
      <td>6705.399902</td>
      <td>6620.100098</td>
      <td>6664.500000</td>
      <td>7.225905e+08</td>
      <td>6664.500000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>6873.500000</td>
      <td>6910.100098</td>
      <td>6835.500000</td>
      <td>6873.500000</td>
      <td>8.086325e+08</td>
      <td>6873.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7104.000000</td>
      <td>7122.700195</td>
      <td>7058.299805</td>
      <td>7104.000000</td>
      <td>1.657266e+09</td>
      <td>7104.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
closing_data = pd.DataFrame()
closing_data['FTSE_Close'] = FTSE100['Close']
closing_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FTSE_Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>253.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>6590.279447</td>
    </tr>
    <tr>
      <th>std</th>
      <td>330.007361</td>
    </tr>
    <tr>
      <th>min</th>
      <td>5874.100098</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>6334.600098</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>6664.500000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>6873.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7104.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
plt.figure()
closing_data.plot()