In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data, wb
from pandas.tools.plotting import autocorrelation_plot
from pandas.tools.plotting import scatter_matrix
import datetime

Get Index Data

We will use pandas_datareader to read the last 5 years data for the S&P 500 (S&P), NYSE, Dow Jones Industrial Average (DJIA), Nikkei 225 (Nikkei), Hang Seng, FTSE 100 (FTSE), DAX, All Ordinaries (AORD) indices.

In [8]:
start = datetime.datetime(2011,1,1)
end = datetime.datetime(2016,1,1)

In [9]:
SP500 = data.DataReader (name="spn", data_source='yahoo', start=start, end=end)
NYSE = data.DataReader (name="^NYA", data_source='yahoo', start=start, end=end)
DAX = data.DataReader (name="^GDAXI", data_source='yahoo', start=start, end=end)
AORD = data.DataReader (name="^AORD", data_source='yahoo', start=start, end=end)
N225 = data.DataReader (name="^N225", data_source='yahoo', start=start, end=end)
HSI = data.DataReader (name="^HSI", data_source='yahoo', start=start, end=end)
FTSE = data.DataReader (name="^FTSE", data_source='yahoo', start=start, end=end)
DJI = data.DataReader (name="^DJI", data_source='yahoo', start=start, end=end)

Munge Data

Create a new dataframe to store the closing prices. Forward fill if there is gap existing.

In [15]:
closing_data = pd.DataFrame()
closing_data['SP500_close'] = SP500['Close']
closing_data['NYSE_close'] = NYSE['Close']
closing_data['DAX_close'] = DAX['Close']
closing_data['AORD_close'] = AORD['Close']
closing_data['N225'] = N225['Close']
closing_data['HSI'] = HSI['Close']
closing_data['FTSE'] = FTSE['Close']
closing_data['DJI'] = DJI['Close']

# forward fill NaN data
closing_data.fillna(method='ffill', inplace=True)
closing_data.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SP500_close</th>
      <th>NYSE_close</th>
      <th>DAX_close</th>
      <th>AORD_close</th>
      <th>N225</th>
      <th>HSI</th>
      <th>FTSE</th>
      <th>DJI</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-12-24</th>
      <td>14.40</td>
      <td>10258.549805</td>
      <td>10727.639648</td>
      <td>5256.100098</td>
      <td>18789.689453</td>
      <td>22138.130859</td>
      <td>6254.600098</td>
      <td>17552.169922</td>
    </tr>
    <tr>
      <th>2015-12-28</th>
      <td>13.50</td>
      <td>10217.410156</td>
      <td>10653.910156</td>
      <td>5256.100098</td>
      <td>18873.349609</td>
      <td>21919.619141</td>
      <td>6254.600098</td>
      <td>17528.269531</td>
    </tr>
    <tr>
      <th>2015-12-29</th>
      <td>13.74</td>
      <td>10306.610352</td>
      <td>10860.139648</td>
      <td>5315.600098</td>
      <td>18982.230469</td>
      <td>21999.619141</td>
      <td>6314.600098</td>
      <td>17720.980469</td>
    </tr>
    <tr>
      <th>2015-12-30</th>
      <td>13.39</td>
      <td>10225.830078</td>
      <td>10743.009766</td>
      <td>5366.399902</td>
      <td>19033.710938</td>
      <td>21882.150391</td>
      <td>6274.100098</td>
      <td>17603.869141</td>
    </tr>
    <tr>
      <th>2015-12-31</th>
      <td>13.47</td>
      <td>10143.419922</td>
      <td>10743.009766</td>
      <td>5344.600098</td>
      <td>19033.710938</td>
      <td>21914.400391</td>
      <td>6242.299805</td>
      <td>17425.029297</td>
    </tr>
  </tbody>
</table>
</div>