In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data, wb
from pandas.tools.plotting import autocorrelation_plot
from pandas.tools.plotting import scatter_matrix
import datetime

Get Index Data

We will use pandas_datareader to read the last 5 years data for the S&P 500 (S&P), NYSE, Dow Jones Industrial Average (DJIA), Nikkei 225 (Nikkei), Hang Seng, FTSE 100 (FTSE), DAX, All Ordinaries (AORD) indices.

In [8]:
start = datetime.datetime(2011,1,1)
end = datetime.datetime(2016,1,1)

In [18]:
SP500 = data.DataReader (name="^GSPC", data_source='yahoo', start=start, end=end)
NYSE = data.DataReader (name="^NYA", data_source='yahoo', start=start, end=end)
DAX = data.DataReader (name="^GDAXI", data_source='yahoo', start=start, end=end)
AORD = data.DataReader (name="^AORD", data_source='yahoo', start=start, end=end)
N225 = data.DataReader (name="^N225", data_source='yahoo', start=start, end=end)
HSI = data.DataReader (name="^HSI", data_source='yahoo', start=start, end=end)
FTSE = data.DataReader (name="^FTSE", data_source='yahoo', start=start, end=end)
DJI = data.DataReader (name="^DJI", data_source='yahoo', start=start, end=end)

Munge Data

Create a new dataframe to store the closing prices. Forward fill if there is gap existing.

In [19]:
closing_data = pd.DataFrame()
closing_data['SP500_close'] = SP500['Close']
closing_data['NYSE_close'] = NYSE['Close']
closing_data['DAX_close'] = DAX['Close']
closing_data['AORD_close'] = AORD['Close']
closing_data['N225'] = N225['Close']
closing_data['HSI'] = HSI['Close']
closing_data['FTSE'] = FTSE['Close']
closing_data['DJI'] = DJI['Close']

# forward fill NaN data
closing_data.fillna(method='ffill', inplace=True)
closing_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SP500_close</th>
      <th>NYSE_close</th>
      <th>DAX_close</th>
      <th>AORD_close</th>
      <th>N225</th>
      <th>HSI</th>
      <th>FTSE</th>
      <th>DJI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1258.000000</td>
      <td>1258.000000</td>
      <td>1258.000000</td>
      <td>1257.000000</td>
      <td>1257.000000</td>
      <td>1258.000000</td>
      <td>1258.000000</td>
      <td>1258.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1657.088005</td>
      <td>9328.550176</td>
      <td>8453.690888</td>
      <td>4977.202704</td>
      <td>13361.877885</td>
      <td>22401.180301</td>
      <td>6234.751111</td>
      <td>14862.448399</td>
    </tr>
    <tr>
      <th>std</th>
      <td>314.063224</td>
      <td>1287.443497</td>
      <td>1740.893594</td>
      <td>504.185879</td>
      <td>3925.553789</td>
      <td>2061.144123</td>
      <td>493.347817</td>
      <td>2220.012223</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1099.229980</td>
      <td>6571.450195</td>
      <td>5072.330078</td>
      <td>3927.600098</td>
      <td>8160.009766</td>
      <td>16250.269531</td>
      <td>4944.399902</td>
      <td>10655.299805</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1352.502472</td>
      <td>8164.622559</td>
      <td>7086.185059</td>
      <td>4500.500000</td>
      <td>9492.209961</td>
      <td>21193.255371</td>
      <td>5852.900025</td>
      <td>12764.274658</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1650.489990</td>
      <td>9424.135254</td>
      <td>8261.515137</td>
      <td>5068.799805</td>
      <td>13869.820312</td>
      <td>22607.905274</td>
      <td>6336.250000</td>
      <td>15113.880371</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1972.627502</td>
      <td>10570.832276</td>
      <td>9715.957519</td>
      <td>5384.600098</td>
      <td>15912.059570</td>
      <td>23519.409668</td>
      <td>6671.224976</td>
      <td>16941.639648</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2130.820068</td>
      <td>11239.660156</td>
      <td>12374.730469</td>
      <td>5954.799805</td>
      <td>20868.029297</td>
      <td>28442.750000</td>
      <td>7104.000000</td>
      <td>18312.390625</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
pd.concat([closing_data['SP500_close'],closing_data['NYSE_close']], axis=1)